In [17]:
import pandas as mypandas
from scipy import stats as mystats
#H0= means utilizations is same for both
#H1=means are not same
import os
os.chdir("C:/")

In [20]:
myDat=mypandas.read_csv('Utilization.csv')

myData

In [21]:
myDat

    Old   New
0  89.5  89.5
1  90.0  91.5
2  91.0  91.0
3  91.5  89.0
4  92.5  91.5
5  91.0  92.0
6  89.0  92.0
7  89.5  90.5
8  91.0  90.0
9  92.0  91.0

In [23]:
od=myDat.Old
nd=myDat.New

In [24]:
od

0    89.5
1    90.0
2    91.0
3    91.5
4    92.5
5    91.0
6    89.0
7    89.5
8    91.0
9    92.0
Name: Old, dtype: float64

In [25]:
nd

0    89.5
1    91.5
2    91.0
3    89.0
4    91.5
5    92.0
6    92.0
7    90.5
8    90.0
9    91.0
Name: New, dtype: float64

In [26]:
u=mystat.ttest_ind(od,nd)

In [27]:
u

Ttest_indResult(statistic=-0.20365326999062763, pvalue=0.8409091277398291)

In [28]:
u.pvalue

0.8409091277398291

In [29]:
od.mean()

90.7

In [30]:
nd.mean()

90.8

In [ ]:
#Hypothesis is true as p value > 0.05
#The mean Utilization from both the method is same